In [1]:
# initial imports
import pandas as pd
from path import Path

In [2]:
# Load data
file_path = Path("../Resources/loans_data.csv")
loans_df = pd.read_csv(file_path)
loans_df.head()

   amount  term      month  age             education  gender  bad
0    1000    30       June   45  High School or Below    male    0
1    1000    30       July   50              Bachelor  female    0
2    1000    30     August   33              Bachelor  female    0
3    1000    15  September   27               college    male    0
4    1000    30    October   28               college  female    0